In [60]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas_datareader.data as web
import pandas_datareader.nasdaq_trader as nasdaq

In [61]:
symbols = nasdaq.get_nasdaq_symbols(retry_count=3, timeout=30, pause=None)

In [62]:
symbols.to_csv('nasdqcode.csv')

In [63]:
df=pd.read_csv('nasdqcode.csv')

In [64]:
stockcodes = df['Symbol']

In [65]:
import pandas_datareader.tiingo as tiingo

In [66]:
data = tiingo.get_tiingo_symbols()

In [67]:
data.to_csv('codes.csv')

In [68]:
data['ticker']

0        000001
1        000002
2        000003
3        000004
4        000005
          ...
85148     ZZHGF
85149      ZZLL
85150     ZZLLD
85151       ZZZ
85152     ZZZOF
Name: ticker, Length: 85153, dtype: object

In [69]:
import pandas_datareader.tiingo as tiingo

## 获取股票代码
def getStockSymbols():
    data = tiingo.get_tiingo_symbols()
    return data['ticker']

In [70]:
print(getStockSymbols())

0        000001
1        000002
2        000003
3        000004
4        000005
          ...
85148     ZZHGF
85149      ZZLL
85150     ZZLLD
85151       ZZZ
85152     ZZZOF
Name: ticker, Length: 85153, dtype: object

In [71]:
df = web.DataReader(name='BYFC', data_source='yahoo',
    start='2020-05-23', end='2020-05-23')

In [72]:
df

            High   Low  Open  Close  Volume  Adj Close
Date
2020-05-22  1.54  1.29  1.54   1.47   14800       1.47