In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = ['2016-01-01','2016-01-02','2016-01-03','2016-01-04',
'2016-01-05','2016-01-06']

In [4]:
dates = pd.to_datetime(dates)

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326

In [7]:
df.T

   2016-01-01  2016-01-02  2016-01-03  2016-01-04  2016-01-05  2016-01-06
A   -0.737599   -1.509901   -0.567123    0.182049   -0.497160   -0.224989
B   -0.312377   -0.703198    1.678127   -0.343537    0.292088    0.195870
C   -0.839038    0.606135   -2.346891   -0.029914    0.769916   -0.364358
D   -0.721511    2.212736    1.222404   -1.117301    0.454676   -0.442326

In [8]:
df.sort_values(by=['A'], axis=0, ascending=True)

                   A         B         C         D
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301

In [9]:
df.sort_index(ascending=False)

                   A         B         C         D
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511

In [10]:
df.sort_index(ascending=True)

                   A         B         C         D
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326

In [11]:
df.sort_values(by=['B'], ascending=True)

                   A         B         C         D
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-03 -0.567123  1.678127 -2.346891  1.222404

In [12]:
# 每列按升序排名
df.rank(axis=0)

              A    B    C    D
2016-01-01  2.0  3.0  2.0  2.0
2016-01-02  1.0  1.0  5.0  6.0
2016-01-03  3.0  6.0  1.0  5.0
2016-01-04  6.0  2.0  4.0  1.0
2016-01-05  4.0  5.0  6.0  4.0
2016-01-06  5.0  4.0  3.0  3.0

In [13]:
# 每月按降序排名
df.rank(axis=1, ascending=False)

              A    B    C    D
2016-01-01  3.0  1.0  4.0  2.0
2016-01-02  4.0  3.0  2.0  1.0
2016-01-03  3.0  1.0  4.0  2.0
2016-01-04  1.0  3.0  2.0  4.0
2016-01-05  4.0  3.0  1.0  2.0
2016-01-06  2.0  1.0  3.0  4.0

In [14]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20160102',periods=6))

In [15]:
s1

2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
Freq: D, dtype: int64

In [16]:
df['E'] = s1

In [17]:
df

                   A         B         C         D    E
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511  NaN
2016-01-02 -1.509901 -0.703198  0.606135  2.212736  1.0
2016-01-03 -0.567123  1.678127 -2.346891  1.222404  2.0
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301  3.0
2016-01-05 -0.497160  0.292088  0.769916  0.454676  4.0
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326  5.0

In [18]:
df=df[list('ABCD')]

In [19]:
df

                   A         B         C         D
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326

In [20]:
df=df[list('ABCD')]

In [21]:
pd.concat([df, s1], axis=1)

                   A         B         C         D    0
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511  NaN
2016-01-02 -1.509901 -0.703198  0.606135  2.212736  1.0
2016-01-03 -0.567123  1.678127 -2.346891  1.222404  2.0
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301  3.0
2016-01-05 -0.497160  0.292088  0.769916  0.454676  4.0
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326  5.0
2016-01-07       NaN       NaN       NaN       NaN  6.0

In [22]:
df1=pd.DataFrame({'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]}, index=pd.date_range('20160110', periods=3))

In [23]:
df1

            A  B  C
2016-01-10  1  4  7
2016-01-11  2  5  8
2016-01-12  3  6  9

In [24]:
df.append(df1)

                   A         B         C         D
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-02 -1.509901 -0.703198  0.606135  2.212736
2016-01-03 -0.567123  1.678127 -2.346891  1.222404
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326
2016-01-10  1.000000  4.000000  7.000000       NaN
2016-01-11  2.000000  5.000000  8.000000       NaN
2016-01-12  3.000000  6.000000  9.000000       NaN

In [25]:
pd.concat([df, df1], join='inner')

                   A         B         C
2016-01-01 -0.737599 -0.312377 -0.839038
2016-01-02 -1.509901 -0.703198  0.606135
2016-01-03 -0.567123  1.678127 -2.346891
2016-01-04  0.182049 -0.343537 -0.029914
2016-01-05 -0.497160  0.292088  0.769916
2016-01-06 -0.224989  0.195870 -0.364358
2016-01-10  1.000000  4.000000  7.000000
2016-01-11  2.000000  5.000000  8.000000
2016-01-12  3.000000  6.000000  9.000000

In [26]:
df.drop(dates[1:3])

                   A         B         C         D
2016-01-01 -0.737599 -0.312377 -0.839038 -0.721511
2016-01-04  0.182049 -0.343537 -0.029914 -1.117301
2016-01-05 -0.497160  0.292088  0.769916  0.454676
2016-01-06 -0.224989  0.195870 -0.364358 -0.442326

In [27]:
df.drop('A', axis=1)

                   B         C         D
2016-01-01 -0.312377 -0.839038 -0.721511
2016-01-02 -0.703198  0.606135  2.212736
2016-01-03  1.678127 -2.346891  1.222404
2016-01-04 -0.343537 -0.029914 -1.117301
2016-01-05  0.292088  0.769916  0.454676
2016-01-06  0.195870 -0.364358 -0.442326

In [28]:
del df['A']

In [29]:
df

                   B         C         D
2016-01-01 -0.312377 -0.839038 -0.721511
2016-01-02 -0.703198  0.606135  2.212736
2016-01-03  1.678127 -2.346891  1.222404
2016-01-04 -0.343537 -0.029914 -1.117301
2016-01-05  0.292088  0.769916  0.454676
2016-01-06  0.195870 -0.364358 -0.442326

In [30]:
df.loc[dates[2], 'C'] = 0

In [31]:
df.rank(axis=0)

              B    C    D
2016-01-01  3.0  1.0  2.0
2016-01-02  1.0  5.0  6.0
2016-01-03  6.0  4.0  5.0
2016-01-04  2.0  3.0  1.0
2016-01-05  5.0  6.0  4.0
2016-01-06  4.0  2.0  3.0

In [32]:
df['E'] = s1

In [33]:
df

                   B         C         D    E
2016-01-01 -0.312377 -0.839038 -0.721511  NaN
2016-01-02 -0.703198  0.606135  2.212736  1.0
2016-01-03  1.678127  0.000000  1.222404  2.0
2016-01-04 -0.343537 -0.029914 -1.117301  3.0
2016-01-05  0.292088  0.769916  0.454676  4.0
2016-01-06  0.195870 -0.364358 -0.442326  5.0

In [34]:
df1=pd.DataFrame({'A':[1,2,3], 'B': [4,5,6], 'C':[7,8,9]},
index=pd.date_range('20160110', periods=3))

In [35]:
df1

            A  B  C
2016-01-10  1  4  7
2016-01-11  2  5  8
2016-01-12  3  6  9

In [36]:
df

                   B         C         D    E
2016-01-01 -0.312377 -0.839038 -0.721511  NaN
2016-01-02 -0.703198  0.606135  2.212736  1.0
2016-01-03  1.678127  0.000000  1.222404  2.0
2016-01-04 -0.343537 -0.029914 -1.117301  3.0
2016-01-05  0.292088  0.769916  0.454676  4.0
2016-01-06  0.195870 -0.364358 -0.442326  5.0

In [37]:
pd.concat([df,df1], join='inner')

                   B         C
2016-01-01 -0.312377 -0.839038
2016-01-02 -0.703198  0.606135
2016-01-03  1.678127  0.000000
2016-01-04 -0.343537 -0.029914
2016-01-05  0.292088  0.769916
2016-01-06  0.195870 -0.364358
2016-01-10  4.000000  7.000000
2016-01-11  5.000000  8.000000
2016-01-12  6.000000  9.000000

In [38]:
df.drop('C', axis=1)

                   B         D    E
2016-01-01 -0.312377 -0.721511  NaN
2016-01-02 -0.703198  2.212736  1.0
2016-01-03  1.678127  1.222404  2.0
2016-01-04 -0.343537 -1.117301  3.0
2016-01-05  0.292088  0.454676  4.0
2016-01-06  0.195870 -0.442326  5.0

In [39]:
df

                   B         C         D    E
2016-01-01 -0.312377 -0.839038 -0.721511  NaN
2016-01-02 -0.703198  0.606135  2.212736  1.0
2016-01-03  1.678127  0.000000  1.222404  2.0
2016-01-04 -0.343537 -0.029914 -1.117301  3.0
2016-01-05  0.292088  0.769916  0.454676  4.0
2016-01-06  0.195870 -0.364358 -0.442326  5.0

In [40]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq=None)

In [47]:
# 替换操作
df.loc[dates[2],'B'] = 0

In [ ]:
df.iloc[0:4] = 0

In [ ]:
df

In [ ]:
# 重新索引
new_index = pd.date_range('20160102', periods=7)

In [ ]:
df.reindex(new_index)

In [48]:
test = pd.DataFrame(np.random.rand(4,4))

In [49]:
test

          0         1         2         3
0  0.251929  0.540384  0.432398  0.752480
1  0.468929  0.345769  0.855000  0.853566
2  0.474640  0.119401  0.167835  0.867599
3  0.102077  0.208989  0.212649  0.080837