In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
s1=pd.Series([1,2,3], index=list('ABC'))

In [5]:
s1

A    1
B    2
C    3
dtype: int64

In [6]:
s2=pd.Series([4,5,6], index=list('BCD'))

In [7]:
s2

B    4
C    5
D    6
dtype: int64

In [8]:
s1+s2

A    NaN
B    6.0
C    8.0
D    NaN
dtype: float64

In [9]:
df1=pd.DataFrame(np.arange(1,13).reshape(3,4), index=list('abc'), columns=list('ABCD'))

In [10]:
df1

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [11]:
df1-s1

     A    B    C   D
a  0.0  0.0  0.0 NaN
b  4.0  4.0  4.0 NaN
c  8.0  8.0  8.0 NaN

In [12]:
df2=pd.DataFrame(np.arange(1,13).reshape(4,3), index=list('bcde'), columns=list('CDE'))

In [13]:
df2

    C   D   E
b   1   2   3
c   4   5   6
d   7   8   9
e  10  11  12

In [14]:
df1*df2

    A   B     C     D   E
a NaN NaN   NaN   NaN NaN
b NaN NaN   7.0  16.0 NaN
c NaN NaN  44.0  60.0 NaN
d NaN NaN   NaN   NaN NaN
e NaN NaN   NaN   NaN NaN

In [15]:
df1.div(df2,fill_value=0)

     A    B     C    D    E
a  inf  inf   inf  inf  NaN
b  inf  inf  7.00  4.0  0.0
c  inf  inf  2.75  2.4  0.0
d  NaN  NaN  0.00  0.0  0.0
e  NaN  NaN  0.00  0.0  0.0

In [16]:
# 函数应用和映射

df0 = pd.DataFrame(np.random.rand(6,4),
index=pd.date_range('20160101', periods=6))

In [17]:
df0

                   0         1         2         3
2016-01-01  0.614415  0.934520  0.131861  0.700853
2016-01-02  0.729225  0.787473  0.914519  0.531505
2016-01-03  0.273410  0.682519  0.177914  0.161216
2016-01-04  0.432428  0.260255  0.520378  0.116446
2016-01-05  0.543896  0.873936  0.962084  0.528587
2016-01-06  0.704572  0.352499  0.072232  0.167221

In [18]:
df0.apply(max, axis=0)

0    0.729225
1    0.934520
2    0.962084
3    0.700853
dtype: float64

In [19]:
df0.apply(min, axis=1)

2016-01-01    0.131861
2016-01-02    0.531505
2016-01-03    0.161216
2016-01-04    0.116446
2016-01-05    0.528587
2016-01-06    0.072232
Freq: D, dtype: float64

In [20]:
df0.apply(min, axis=0)

0    0.273410
1    0.260255
2    0.072232
3    0.116446
dtype: float64

In [21]:
f = lambda x: x.max() - x.min()

In [22]:
df0.apply(f, axis=0)

0    0.455815
1    0.674264
2    0.889852
3    0.584407
dtype: float64