In [3]:
# 创建DataFrame对象

In [4]:
import pandas as pd
import numpy as np

In [5]:
dates = ['2016-01-01','2016-01-02','2016-01-03','2016-01-04',
'2016-01-05','2016-01-06']

In [6]:
dates = pd.to_datetime(dates)

In [7]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq=None)

In [8]:
#　在此基础上创建一个6 x 4的数据，索引为刚刚创建dates

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
# read_table()函数
pd.read_table('F:\github\quntityTrade\data\\test.txt', sep=',', header=None, names=None)

            0         1         2         3         4
0  2016-01-01 -0.700614 -0.497926 -1.575815 -0.124825
1  2016-01-02  0.527900 -0.171895  0.507163 -0.643841
2  2016-01-03  0.712705 -0.200171  1.370069  0.436875
3  2016-01-04 -0.865489 -1.387902  0.727358 -0.583044
4  2016-01-05 -0.233993  1.413461 -0.696632 -0.746930
5  2016-01-06  1.530952 -1.145595  0.922075  0.027192

In [11]:
df = pd.read_csv('F:\github\quntityTrade\data\\test.csv', header=None, sep=',', names=None)

In [12]:
df

            0          1          2          3          4
0        time          A          B          C          D
1  2016-01-01  -0.700614  -0.497926  -1.575815  -0.124825
2  2016-01-02   0.527900  -0.171895   0.507163  -0.643841
3  2016-01-03   0.712705  -0.200171   1.370069   0.436875
4  2016-01-04  -0.865489  -1.387902   0.727358  -0.583044
5  2016-01-05  -0.233993   1.413461  -0.696632  -0.746930
6  2016-01-06   1.530952  -1.145595   0.922075   0.027192

In [15]:
import MySQLdb

In [18]:
msyql_cn = MySQLdb.connect(host='192.168.78.1', port=3306, user='root', passwd='2241883', db='vnpy')

In [19]:
df = pd.read_sql('select * from dbbardata limit 10;', con=msyql_cn)
msyql_cn.close()

In [20]:
df

,id,symbol,exchange,datetime,interval,volume,open_interest,open_price,high_price,low_price,close_price
0,1,IF88,CFFEX,2017-02-22 09:30:00,1m,302.0,37677.0,3461.8,3462.8,3460.0,3461.6
1,2,IF88,CFFEX,2017-02-22 09:31:00,1m,128.0,37616.0,3461.4,3463.6,3459.4,3463.6
2,3,IF88,CFFEX,2017-02-22 09:32:00,1m,115.0,37555.0,3463.6,3463.6,3458.4,3461.0
3,4,IF88,CFFEX,2017-02-22 09:33:00,1m,61.0,37514.0,3460.4,3460.6,3459.2,3460.6
4,5,IF88,CFFEX,2017-02-22 09:34:00,1m,52.0,37486.0,3460.0,3460.4,3458.8,3460.2
5,6,IF88,CFFEX,2017-02-22 09:35:00,1m,74.0,37437.0,3460.2,3460.2,3458.8,3459.8
6,7,IF88,CFFEX,2017-02-22 09:36:00,1m,72.0,37399.0,3459.0,3460.4,3459.0,3459.4
7,8,IF88,CFFEX,2017-02-22 09:37:00,1m,132.0,37378.0,3459.4,3459.4,3456.6,3456.8
8,9,IF88,CFFEX,2017-02-22 09:38:00,1m,160.0,37305.0,3456.8,3457.4,3455.0,3457.2
9,10,IF88,CFFEX,2017-02-22 09:39:00,1m,97.0,37259.0,3458.0,3458.6,3455.2,3455.8

In [21]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [22]:
df

                   A         B         C         D
2016-01-01  0.260114 -2.106529  0.552100  0.421264
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-03  0.815407 -0.187797  0.193925 -2.091588
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145
2016-01-06  1.085417 -0.697706  0.004307 -0.817405

In [23]:
df.head(3)

                   A         B         C         D
2016-01-01  0.260114 -2.106529  0.552100  0.421264
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-03  0.815407 -0.187797  0.193925 -2.091588

In [25]:
df.tail(4)

                   A         B         C         D
2016-01-03  0.815407 -0.187797  0.193925 -2.091588
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145
2016-01-06  1.085417 -0.697706  0.004307 -0.817405

In [26]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [27]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq=None)

In [28]:
df.values

array([[ 0.26011356, -2.10652921,  0.55209992,  0.421264  ],
       [ 0.36778766,  0.41550062, -0.41514692, -1.42077682],
       [ 0.81540743, -0.18779741,  0.1939252 , -2.09158757],
       [ 0.26328302,  0.10047006,  0.38342777, -1.23569597],
       [-0.72702091,  1.10723471, -1.07627896, -0.33814542],
       [ 1.08541738, -0.69770637,  0.00430661, -0.81740503]])

In [30]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.344165 -0.228138 -0.059611 -0.913724
std    0.621792  1.100541  0.599810  0.879874
min   -0.727021 -2.106529 -1.076279 -2.091588
25%    0.260906 -0.570229 -0.310284 -1.374507
50%    0.315535 -0.043664  0.099116 -1.026551
75%    0.703502  0.336743  0.336052 -0.457960
max    1.085417  1.107235  0.552100  0.421264

In [31]:
df[1:3]

                   A         B         C         D
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-03  0.815407 -0.187797  0.193925 -2.091588

In [32]:
df['A']

2016-01-01    0.260114
2016-01-02    0.367788
2016-01-03    0.815407
2016-01-04    0.263283
2016-01-05   -0.727021
2016-01-06    1.085417
Name: A, dtype: float64

In [33]:
df[['A', 'C']]

                   A         C
2016-01-01  0.260114  0.552100
2016-01-02  0.367788 -0.415147
2016-01-03  0.815407  0.193925
2016-01-04  0.263283  0.383428
2016-01-05 -0.727021 -1.076279
2016-01-06  1.085417  0.004307

In [34]:
df[df['A'] > 0]

                   A         B         C         D
2016-01-01  0.260114 -2.106529  0.552100  0.421264
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-03  0.815407 -0.187797  0.193925 -2.091588
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-06  1.085417 -0.697706  0.004307 -0.817405

In [35]:
df[df['B'] > 0]

                   A         B         C         D
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145

In [36]:
df[['A','C']]

                   A         C
2016-01-01  0.260114  0.552100
2016-01-02  0.367788 -0.415147
2016-01-03  0.815407  0.193925
2016-01-04  0.263283  0.383428
2016-01-05 -0.727021 -1.076279
2016-01-06  1.085417  0.004307

In [37]:
df[1:3, 'A']

TypeError: '(slice(1, 3, None), 'A')' is an invalid key

In [38]:
# 标签索引和切片

df.loc[:, 'A']

2016-01-01    0.260114
2016-01-02    0.367788
2016-01-03    0.815407
2016-01-04    0.263283
2016-01-05   -0.727021
2016-01-06    1.085417
Name: A, dtype: float64

In [40]:
df.loc[:, 'A':'C']

                   A         B         C
2016-01-01  0.260114 -2.106529  0.552100
2016-01-02  0.367788  0.415501 -0.415147
2016-01-03  0.815407 -0.187797  0.193925
2016-01-04  0.263283  0.100470  0.383428
2016-01-05 -0.727021  1.107235 -1.076279
2016-01-06  1.085417 -0.697706  0.004307

In [42]:
df.loc[dates[0:2], 'A': 'B']

                   A         B
2016-01-01  0.260114 -2.106529
2016-01-02  0.367788  0.415501

In [43]:
df.loc[dates[0], 'A']

0.26011355952803206

In [44]:
df.at[dates[0], 'A']

0.26011355952803206

In [46]:
df.loc[df.loc[:, 'B'] > 0]

                   A         B         C         D
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145

In [47]:
# 位置索引与切片
# 提取某行
df.iloc[2]

A    0.815407
B   -0.187797
C    0.193925
D   -2.091588
Name: 2016-01-03 00:00:00, dtype: float64

In [51]:
# 提取某几行与某几列
df.iloc[:, 2]

2016-01-01    0.552100
2016-01-02   -0.415147
2016-01-03    0.193925
2016-01-04    0.383428
2016-01-05   -1.076279
2016-01-06    0.004307
Name: C, dtype: float64

In [49]:
# 提取某几行与某几列
df.iloc[[1,4],[2,3]]

                   C         D
2016-01-02 -0.415147 -1.420777
2016-01-05 -1.076279 -0.338145

In [50]:
# 切片
df.iloc[1:4, 2:4]

                   C         D
2016-01-02 -0.415147 -1.420777
2016-01-03  0.193925 -2.091588
2016-01-04  0.383428 -1.235696

In [52]:
#提取特定标量
df.iloc[3,3]

-1.2356959735468116

In [53]:
df.iat[3,3]

-1.2356959735468116

In [55]:
# 根据boolean值提取
df.loc[:, df.iloc[3] > 0]

                   A         B         C
2016-01-01  0.260114 -2.106529  0.552100
2016-01-02  0.367788  0.415501 -0.415147
2016-01-03  0.815407 -0.187797  0.193925
2016-01-04  0.263283  0.100470  0.383428
2016-01-05 -0.727021  1.107235 -1.076279
2016-01-06  1.085417 -0.697706  0.004307

In [56]:
# 广义索引与切片

df.ix[2:5]

                   A         B         C         D
2016-01-03  0.815407 -0.187797  0.193925 -2.091588
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145

In [57]:
df.ix[[1,3],2]

2016-01-02   -0.415147
2016-01-04    0.383428
Name: C, dtype: float64

In [58]:
df

                   A         B         C         D
2016-01-01  0.260114 -2.106529  0.552100  0.421264
2016-01-02  0.367788  0.415501 -0.415147 -1.420777
2016-01-03  0.815407 -0.187797  0.193925 -2.091588
2016-01-04  0.263283  0.100470  0.383428 -1.235696
2016-01-05 -0.727021  1.107235 -1.076279 -0.338145
2016-01-06  1.085417 -0.697706  0.004307 -0.817405

In [59]:
df.ix[[1,3],'C']

2016-01-02   -0.415147
2016-01-04    0.383428
Name: C, dtype: float64

In [60]:
df.ix[1:3, 'A':'C']

                   A         B         C
2016-01-02  0.367788  0.415501 -0.415147
2016-01-03  0.815407 -0.187797  0.193925

In [61]:
df.ix[1:3, df.iloc[3] > 0]

                   A         B         C
2016-01-02  0.367788  0.415501 -0.415147
2016-01-03  0.815407 -0.187797  0.193925