In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = ['2016-01-01','2016-01-02','2016-01-03','2016-01-04',
'2016-01-05','2016-01-06']

In [4]:
dates = pd.to_datetime(dates)

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-06 -0.554504  0.528030  0.515184 -2.294399

In [7]:
df.T

   2016-01-01  2016-01-02  2016-01-03  2016-01-04  2016-01-05  2016-01-06
A   -0.590942   -1.687778    0.990828   -0.104094   -0.018626   -0.554504
B    1.590224    0.348293    0.203789    0.978840   -1.540238    0.528030
C    0.202867    0.133713   -0.569202   -0.772355   -1.637691    0.515184
D    0.666715   -1.449037    0.726566    1.892260   -1.187670   -2.294399

In [8]:
df.sort_values(by=['A'], axis=0, ascending=True)

                   A         B         C         D
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-06 -0.554504  0.528030  0.515184 -2.294399
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-03  0.990828  0.203789 -0.569202  0.726566

In [9]:
df.sort_index(ascending=False)

                   A         B         C         D
2016-01-06 -0.554504  0.528030  0.515184 -2.294399
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-01 -0.590942  1.590224  0.202867  0.666715

In [10]:
df.sort_index(ascending=True)

                   A         B         C         D
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-06 -0.554504  0.528030  0.515184 -2.294399

In [11]:
df.sort_values(by=['B'], ascending=True)

                   A         B         C         D
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-06 -0.554504  0.528030  0.515184 -2.294399
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-01 -0.590942  1.590224  0.202867  0.666715

In [12]:
# 每列按升序排名
df.rank(axis=0)

              A    B    C    D
2016-01-01  2.0  6.0  5.0  4.0
2016-01-02  1.0  3.0  4.0  2.0
2016-01-03  6.0  2.0  3.0  5.0
2016-01-04  4.0  5.0  2.0  6.0
2016-01-05  5.0  1.0  1.0  3.0
2016-01-06  3.0  4.0  6.0  1.0

In [13]:
# 每月按降序排名
df.rank(axis=1, ascending=False)

              A    B    C    D
2016-01-01  4.0  1.0  3.0  2.0
2016-01-02  4.0  1.0  2.0  3.0
2016-01-03  1.0  3.0  4.0  2.0
2016-01-04  3.0  2.0  4.0  1.0
2016-01-05  1.0  3.0  4.0  2.0
2016-01-06  3.0  1.0  2.0  4.0

In [14]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20160102',periods=6))

In [15]:
s1

2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
Freq: D, dtype: int64

In [16]:
df['E'] = s1

In [17]:
df

                   A         B         C         D    E
2016-01-01 -0.590942  1.590224  0.202867  0.666715  NaN
2016-01-02 -1.687778  0.348293  0.133713 -1.449037  1.0
2016-01-03  0.990828  0.203789 -0.569202  0.726566  2.0
2016-01-04 -0.104094  0.978840 -0.772355  1.892260  3.0
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670  4.0
2016-01-06 -0.554504  0.528030  0.515184 -2.294399  5.0

In [18]:
df=df[list('ABCD')]

In [19]:
df

                   A         B         C         D
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-06 -0.554504  0.528030  0.515184 -2.294399

In [20]:
df=df[list('ABCD')]

In [21]:
pd.concat([df, s1], axis=1)

                   A         B         C         D    0
2016-01-01 -0.590942  1.590224  0.202867  0.666715  NaN
2016-01-02 -1.687778  0.348293  0.133713 -1.449037  1.0
2016-01-03  0.990828  0.203789 -0.569202  0.726566  2.0
2016-01-04 -0.104094  0.978840 -0.772355  1.892260  3.0
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670  4.0
2016-01-06 -0.554504  0.528030  0.515184 -2.294399  5.0
2016-01-07       NaN       NaN       NaN       NaN  6.0

In [22]:
df1=pd.DataFrame({'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]}, index=pd.date_range('20160110', periods=3))

In [23]:
df1

            A  B  C
2016-01-10  1  4  7
2016-01-11  2  5  8
2016-01-12  3  6  9

In [24]:
df.append(df1)

                   A         B         C         D
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-02 -1.687778  0.348293  0.133713 -1.449037
2016-01-03  0.990828  0.203789 -0.569202  0.726566
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-06 -0.554504  0.528030  0.515184 -2.294399
2016-01-10  1.000000  4.000000  7.000000       NaN
2016-01-11  2.000000  5.000000  8.000000       NaN
2016-01-12  3.000000  6.000000  9.000000       NaN

In [25]:
pd.concat([df, df1], join='inner')

                   A         B         C
2016-01-01 -0.590942  1.590224  0.202867
2016-01-02 -1.687778  0.348293  0.133713
2016-01-03  0.990828  0.203789 -0.569202
2016-01-04 -0.104094  0.978840 -0.772355
2016-01-05 -0.018626 -1.540238 -1.637691
2016-01-06 -0.554504  0.528030  0.515184
2016-01-10  1.000000  4.000000  7.000000
2016-01-11  2.000000  5.000000  8.000000
2016-01-12  3.000000  6.000000  9.000000

In [27]:
df.drop(dates[1:3])

                   A         B         C         D
2016-01-01 -0.590942  1.590224  0.202867  0.666715
2016-01-04 -0.104094  0.978840 -0.772355  1.892260
2016-01-05 -0.018626 -1.540238 -1.637691 -1.187670
2016-01-06 -0.554504  0.528030  0.515184 -2.294399

In [28]:
df.drop('A', axis=1)

                   B         C         D
2016-01-01  1.590224  0.202867  0.666715
2016-01-02  0.348293  0.133713 -1.449037
2016-01-03  0.203789 -0.569202  0.726566
2016-01-04  0.978840 -0.772355  1.892260
2016-01-05 -1.540238 -1.637691 -1.187670
2016-01-06  0.528030  0.515184 -2.294399

In [29]:
del df['A']

In [30]:
df

                   B         C         D
2016-01-01  1.590224  0.202867  0.666715
2016-01-02  0.348293  0.133713 -1.449037
2016-01-03  0.203789 -0.569202  0.726566
2016-01-04  0.978840 -0.772355  1.892260
2016-01-05 -1.540238 -1.637691 -1.187670
2016-01-06  0.528030  0.515184 -2.294399

In [31]:
df.loc[dates[2], 'C'] = 0